div(id="post" class="post")
    div(class="post-header")
        img(class="avatar-in-post" src=imgAvatar)
        div(class="post-info")
            span(class="post-creator") #{postCreator}
            span(class="date") #{date}
    div(class="post__content")
        if textPost
            p(class="post__content__text") #{textPost}
        if imgContent
            if imgContent.length === 1
                img(index=0 class="new-post-form__content__image new-post-form__content__image_first" src=imgContent[0])
            if imgContent.length === 2
                img(index=0 class="new-post-form__content__image new-post-form__content__image_first" src=imgContent[0])
                img(index=1 class="new-post-form__content__image new-post-form__content__image_second" src=imgContent[1])
            if imgContent.length >= 3
                img(index=0 class="new-post-form__content__image new-post-form__content__image_first" src=imgContent[0])
                div.new-post-form__content__images_bottom
                    img(index=1 class="new-post-form__content__image_third new-post-form__content__image" src=imgContent[1])
                    img(index=2 class="new-post-form__content__image_fourth new-post-form__content__image" src=imgContent[2])
                    if imgContent.length === 4
                        img(index=3 class="new-post-form__content__image_fifth new-post-form__content__image" src=imgContent[3])
                    if imgContent.length > 4
                        div.new-post-form__content__image__more(class="new-post-form__content__image")
                            div.new-post-form__content__image__more-counter(index=4) + #{imgContent.length - 4}
                            img(index=3 class="new-post-form__content__image_fifth new-post-form__content__image" src=imgContent[3])
    div(class="post__footer")
        div(class="post__footer__row__metric")
            if liked
                div(class="metric metric__like")
                    i(class="fab fa-gratipay") #{likeCounter}
            else
                div(class="metric metric__like")
                    i(class="far fa-heart") #{likeCounter}
            div(class="metric metric__comment")
            div(class="metric metric__repost")

        div(class="post__footer__row")
            if liked
                div(class="post__footer__column post__footer__column__like post__footer__column__like_active")
                    i(class="post-action post-action_like fas fa-thumbs-up fa-lg") Like
            else
                div(class="post__footer__column post__footer__column__like post__footer__column__like_deactive")
                    i(class="post-action post-action_like far fa-thumbs-up fa-lg") Like
            div(class="post__footer__column")
                i(class="post-action far fa-comment fa-lg") Comment
            div(class="post__footer__column")
                i(class="post-action post-action_repost far fa-share-square fa-lg") Share
    if showModal
        component(name='ShowImgModal' modal selected=selectedImgIndex)