div(class="post")
    div(class="postHeader")
        img(class="avatarInPost" src=imgAvatar)
        div(class="postInfo")
            span(class="postCreator") #{postCreator}
            span(clss="date") #{date}
    div(class="postContent")
        img(class="contentImg" src=imgContent)
        p(class="contentText") #{textPost}
    div(class="postFooter")
        div(class="postAction")
            a
                img(src="./assets/like.png")
            a
                img(src="./assets/comment.png")
            a
                img(src="./assets/reposticon.png")
