div(class='register-form')
    div(class='register-form__content')
        div(class='register-form__header')
            div(class='register-form__title') Registration
            div(class='register-form__div-close')
                img(src='assets/close.png' class='register-form__img-close' draggable='false')
        div(class='register-form__div-item')
            input(
                type='text'
                class='register-form__input register-form__login'
                required
                pattern='^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$|^(\\+7|7|8)?[\\s\\-]?\\(?[489][0-9]{2}\\)?[\\s\\-]?[0-9]{3}[\\s\\-]?[0-9]{2}[\\s\\-]?[0-9]{2}$'
                autocomplete='on'
                placeholder='Email or telephone number'
                value=login
            )
        div(class='register-form__div-item')
            input(
                type='password'
                class='register-form__input register-form__input_password register-form__input_password register-form__password'
                required pattern='^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{8,}$'
                autocomplete='on'
                placeholder='Password (>8 symbols, less one character)'
                value=password
            )
        div(class='register-form__div-item')
            input(
                type='password'
                class='register-form__input register-form__input_password register-form__password-repeat'
                required
                pattern='^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{8,}$'
                autocomplete='on'
                placeholder='Password repeat'
                value=passwordRepeat
            )
        div(class='register-form__div-item')
            input(
                type='text'
                class='register-form__input register-form__firstname'
                required
                autocomplete='on'
                placeholder='Firstname'
                value=firstName
            )
        div(class='register-form__div-item')
            input(
                type='text'
                class='register-form__input register-form__lastname'
                required
                autocomplete='on'
                placeholder='Lastname'
                value=lastName
            )
        button(id='submit-register-form' type='button' class='register-form__button-register') Register